
.footer {
    color: #fff;
    position: relative;
    z-index: 1;
    ul {
        padding: 0;
        margin: 0;
        text-align: center;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        li {
            font-size: 14px;
            margin: 0 15px;
            font-weight: 600;
            border-bottom: 3px solid transparent;
            padding-bottom: 5px;
            &:hover {
                 
                cursor: pointer;
                color: crimson;
            }
        }
    }
}